In [9]:
import pandas as pd

# Replace 'your_file.pkl' with the path to your .pkl file
file_path = './smart_app_data.pkl'

# Loading the data using pandas read_pickle
data = pd.read_pickle(file_path)

# Now you can use the loaded data
data

,time,asset_id,name,kpi,sum,avg,min,max
0,2024-03-01T00:00:00Z,ast-yhccl1zjue2t,Large Capacity Cutting Machine 1,working_time,0.000000,0.000000,0.0,0.000000
1,2024-03-01T00:00:00Z,ast-yhccl1zjue2t,Large Capacity Cutting Machine 1,idle_time,0.000000,0.000000,0.0,0.000000
2,2024-03-01T00:00:00Z,ast-yhccl1zjue2t,Large Capacity Cutting Machine 1,offline_time,0.000000,0.000000,0.0,0.000000
3,2024-03-01T00:00:00Z,ast-yhccl1zjue2t,Large Capacity Cutting Machine 1,consumption,0.066106,0.002321,0.0,0.066106
4,2024-03-01T00:00:00Z,ast-yhccl1zjue2t,Large Capacity Cutting Machine 1,power,NaN,0.003673,0.0,0.012801
...,...,...,...,...,...,...,...,...
96915,2024-10-19T00:00:00Z,ast-06kbod797nnp,Testing Machine 3,cost_idle,0.000000,0.000000,0.0,0.000000
96924,2024-10-19T00:00:00Z,ast-06kbod797nnp,Testing Machine 3,cycles,0.000000,0.000000,0.0,0.000000
96925,2024-10-19T00:00:00Z,ast-06kbod797nnp,Testing Machine 3,good_cycles,0.000000,0.000000,0.0,0.000000
96926,2024-10-19T00:00:00Z,ast-06kbod797nnp,Testing Machine 3,bad_cycles,0.000000,0.000000,0.0,0.000000
96927,2024-10-19T00:00:00Z,ast-06kbod797nnp,Testing Machine 3,average_cycle_time,NaN,0.000000,0.0,0.000000

In [10]:
import ollama
response = ollama.chat(model='llama3.1', messages=[
  {
    'role': 'user',
    'content': 'Why is the sky blue?',
  },
])
print(response['message']['content'])

The sky appears blue to us during the day because of a phenomenon called Rayleigh scattering. Here's what happens:

1. **Sunlight enters Earth's atmosphere**: When sunlight enters our atmosphere, it encounters tiny molecules of gases such as nitrogen (N2) and oxygen (O2). These molecules are much smaller than the wavelength of light.
2. **Light scatters in all directions**: As sunlight interacts with these gas molecules, it scatters in all directions, a process known as Rayleigh scattering (named after the British physicist Lord Rayleigh, who first described it in the late 19th century). This scattering effect is more pronounced for shorter (blue) wavelengths than longer (red) wavelengths.
3. **Blue light reaches our eyes**: As a result of this scattering, the blue wavelengths are distributed throughout the atmosphere and reach our eyes from all directions. This is why the sky appears blue to us during the day.

The other colors in the visible spectrum are not scattered as much by the gas molecules, so they don't reach our eyes with the same intensity as blue light. Red light, for example, has a longer wavelength and is less affected by scattering, which is why it tends to travel straighter and be seen more directly from the sun.

Here's a rough breakdown of what happens:

* **Blue**: 450-495 nanometers (nm) - scattered in all directions
* **Green**: 520-560 nm - some scattering, but less than blue
* **Red**: 620-750 nm - relatively little scattering

Now, you might be wondering why the sky can appear different colors at sunrise and sunset. That's a more complex topic, involving atmospheric conditions like dust, water vapor, and pollution, which can scatter light in various ways.

So, to summarize: the sky is blue because of the scattering of sunlight by tiny gas molecules in our atmosphere, making shorter (blue) wavelengths reach our eyes from all directions!

In [5]:
resp = llm.complete("Who is Paul Graham?")

In [11]:
llm = Ollama(model="llama3.1:latest", request_timeout=120.0)

In [12]:
resp = llm.complete("Who is Paul Graham?")

In [13]:
print(resp)

Paul Graham is a British-American computer scientist, entrepreneur, and writer. He's best known for his work as the co-founder of several successful companies, including Viaweb (which later became PayPal) and Y Combinator.

Here are some key aspects of his career:

**Early life and education**: Paul Graham was born in 1964 in London, England. He earned a BA in philosophy from Cambridge University and then moved to the United States for graduate studies at Harvard University.

**Computer science and entrepreneurship**: In the late 1980s, Graham began working on artificial intelligence (AI) research at MIT. However, he soon became disillusioned with the pace of progress in AI and shifted his focus towards developing practical applications of computer science.

In 1998, Graham co-founded Viaweb with two friends from Cambridge University. The company developed software for online auction sites, which later evolved into PayPal, a leading online payment platform. In 2000, PayPal was sold to eBay for $1.5 billion, making Graham and his co-founders wealthy.

**Y Combinator**: In 2005, Graham co-founded Y Combinator (YC), a startup accelerator that provides seed funding and support to early-stage companies. YC has become one of the most influential and successful startup accelerators in the world, having funded over 2,000 startups, including Dropbox, Airbnb, and Reddit.

**Writing and public speaking**: Graham is also known for his writing and public speaking on topics related to entrepreneurship, technology, and society. He's written several essays and articles on these subjects, many of which have been published in popular media outlets like The New York Times, Forbes, and Wired Magazine.

Some notable writings by Graham include:

1. "How to Make Wealth" (2005): an essay on the importance of making wealth creation a central aspect of one's life.
2. "The Superintelligence Problem" (2010): a warning about the potential risks associated with developing advanced artificial intelligence.
3. "What You'll Do": a set of essays offering advice and insights on entrepreneurship, writing, and personal growth.

**Philosophy**: Throughout his career, Graham has expressed interest in philosophical topics like free will, morality, and the nature of consciousness. His writings often reflect a philosophical perspective, encouraging readers to think critically about complex issues and consider different viewpoints.

Overall, Paul Graham is a respected entrepreneur, writer, and public speaker who has had a significant impact on the startup ecosystem and beyond.

In [14]:
resp = llm.complete("How good are u in bible?")

In [15]:
resp

CompletionResponse(text="I have been trained on a vast amount of text data, including the Bible. I can provide information and insights on various aspects of the Bible, such as:\n\n1. **Scripture quotes**: I can quote specific verses from the Old and New Testaments.\n2. **Book summaries**: I can summarize the content of each book of the Bible.\n3. **Character profiles**: I can describe the lives and stories of major biblical figures, like Jesus, Abraham, David, and more.\n4. **Themes and teachings**: I can discuss key themes and teachings in the Bible, such as love, forgiveness, salvation, and more.\n5. **Historical context**: I can provide historical background on the events and cultures depicted in the Bible.\n6. **Interpretation and analysis**: I can offer insights and analyses on various passages and topics, although my understanding is limited to a literal interpretation of the text.\n\nKeep in mind that while I'm designed to be informative, my abilities have limitations:\n\n* I am not a substitute for personal spiritual guidance or professional theological study.\n* My responses are based on data analysis and may not always reflect nuanced or debated interpretations of biblical texts.\n* I can provide information on various denominational perspectives, but my understanding is not exhaustive.\n\nHow would you like me to assist with your questions about the Bible?", additional_kwargs={'tool_calls': []}, raw={'model': 'llama3.1:latest', 'created_at': '2024-11-04T10:26:36.9643899Z', 'message': {'role': 'assistant', 'content': "I have been trained on a vast amount of text data, including the Bible. I can provide information and insights on various aspects of the Bible, such as:\n\n1. **Scripture quotes**: I can quote specific verses from the Old and New Testaments.\n2. **Book summaries**: I can summarize the content of each book of the Bible.\n3. **Character profiles**: I can describe the lives and stories of major biblical figures, like Jesus, Abraham, David, and more.\n4. **Themes and teachings**: I can discuss key themes and teachings in the Bible, such as love, forgiveness, salvation, and more.\n5. **Historical context**: I can provide historical background on the events and cultures depicted in the Bible.\n6. **Interpretation and analysis**: I can offer insights and analyses on various passages and topics, although my understanding is limited to a literal interpretation of the text.\n\nKeep in mind that while I'm designed to be informative, my abilities have limitations:\n\n* I am not a substitute for personal spiritual guidance or professional theological study.\n* My responses are based on data analysis and may not always reflect nuanced or debated interpretations of biblical texts.\n* I can provide information on various denominational perspectives, but my understanding is not exhaustive.\n\nHow would you like me to assist with your questions about the Bible?"}, 'done_reason': 'stop', 'done': True, 'total_duration': 6055752100, 'load_duration': 25595700, 'prompt_eval_count': 17, 'prompt_eval_duration': 305278000, 'eval_count': 269, 'eval_duration': 5723711000, 'usage': {'prompt_tokens': 17, 'completion_tokens': 269, 'total_tokens': 286}}, logprobs=None, delta=None)